body{ width:100%; background-color: black;overflow-y: hidden;overflow-X: hidden;}
.counter{
  float:left;
  width:100%;
  align:center;
}
div.counter{
  width:100%;
  float:left;
}
h1{
  float:left;
  width:100%;
  font-family:Verdana;
  font-size:200px;
  color: white;
  margin-left: 20px;
  text-align:center;
}
div.rolldown{
  width:100%;
  float:left;
}
#messages {
  height: 100%;
  overflow-y: hidden;
  margin-left:20px;
}
#messages .leak{
  font-family:courier;
  font-size:22px;
  color: red;
}
#messages .texttow{
  font-family:courier;
  font-size:18px;
  color: white;
}
