body {
  background-color:#000;
}

p.lost {
  font-size:83px;
  color:#47f908;
  font-family:courier;
  margin-left:30px;
}

p.lost2 {
  font-size:72px;
  color:#FF0000;
  font-family:courier;
  margin-left:30px;
}

div {
  margin-top:100px;
}



.blink {
	-webkit-animation: blink .75s linear infinite;
	-moz-animation: blink .75s linear infinite;
	-ms-animation: blink .75s linear infinite;
	-o-animation: blink .75s linear infinite;
	 animation: blink .75s linear infinite;
}
@-webkit-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-moz-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-o-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}

p.load {
  font-size:33px;
}
.transf {
  margin-top:30px;
}

.load {
  margin-top:-10px;
  margin-left:-15px;
}

.bttn {
  margin-top:50px;
}
